getmac==0.8.2
gmplot==1.2.0
ip2geotools==0.1.5
playsound==1.2.2
psutil==5.8.0
pycountry==19.8.18
PyQt5==5.15.9
PyQt5_sip==12.12.1
pyshark==0.6
pythonping==1.0.8
pywin32==306
Requests==2.32.4
